menu "Memory Controler 2 timings"
	depends on OR32_GENERIC && OR32_GENERIC_MEMORY_TIMINGS

      #
      # FLASH timings: worst cases in ns, from data sheets

config OR32_FLASH_WA_TIME
	int "Flash Write Access Time [ns]"
	default 50

config OR32_FLASH_WE_DELAY 
	int "Flash Write Enable Delay [ns]"
	default 0

config OR32_FLASH_WH_TIME
	int "Flash Write Hold Time [ns]"
	default 0
	
config OR32_FLASH_RA_TIME
	int "Flash Read Access Time [ns]"
	default 95

config OR32_FLASH_PRA_TIME
	int "Flash Page Read Access Time [ns]"
	default 25

config OR32_FLASH_RT_TIME
	int "Flash Read Turnaround Time [ns]"
	default 24

      #
      # SDRAM timings: worst cases in ns, from data sheets

config OR32_SDRAM_tRCD 
	int "SDRAM tRCD [ns]"
	default 23

config OR32_SDRAM_tWR
	int "SDRAM tWR [ns]"
	default 20

config OR32_SDRAM_tRC
	int "SDRAM tRC [ns]"
	default 60

config OR32_SDRAM_tRFC
	int "SDRAM tRFC (sometimes the same as tRC) [ns]"
	default 60

config OR32_SDRAM_tRAS
	int "SDRAM tRAS (use the worst case minimal value) [ns]"
	default 50

config OR32_SDRAM_tRP 
	int "SDRAM tRP [ns]"
	default 23

config OR32_SDRAM_tRRD
	int "SDRAM tRRD [ns]"
	default 15

      # 64000000 / 8192 = 7812.5
config OR32_SDRAM_tREF
	int "SDRAM tREF (round it up) [ns]"
	default 7813

endmenu
