#
#  Configuration file for the "bender" chip
#
#

include $(RTEMS_ROOT)/make/custom/default.cfg

RTEMS_CPU=or1k
RTEMS_CPU_MODEL=or1k_model

# This is the actual bsp directory used during the build process.
RTEMS_BSP_FAMILY=bender

# Define this to yes if C++ is included in the development environment.
# This requires that at least the GNU C++ compiler and libg++ be installed.
#
#  Need "main" in BSP so can't link C++ sample test or you will get
#     duplicate symbol errors for main
#
HAS_CPLUSPLUS=no

# Miscellaneous additions go here
define make-exe
	$(LD) $(LDFLAGS) -N -e ___rst \
	    -T$(PROJECT_RELEASE)/lib/linkcmds\
	    -o $(basename $@).exe \
	    $(START_FILE) $(LINK_OBJS) -lrtemsall -lcsupport -lposix -lc -lbsp /projects/or32-rtems/lib/gcc-lib/or32-rtems/2.95.2/libgcc.a -lm -lc -lcsupport --start-group --end-group
	$(NM) -n $(basename $@).exe > $(basename $@).num
	$(SIZE) $(basename $@).exe
endef
